.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.carousel-image {
  width: 9%; /* Adjust the maximum width to your desired size */
  height: 60px; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the image horizontally */
}


.home-heading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.home-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-option {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.home-option:hover {
  transform: translateY(-5px);
}

.home-option img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 1rem;
}

.img1 {
  width: 700px;
  height: 500px;
}

.img2 {
  width: 700px;
  height: 500px;
}
